body {
    margin: 0%;
    font-family: 'Hind Siliguri', sans-serif;
}

header {
background:url("../img/background.jpg");
background-size: cover;
height: 900px;
width: 100%;
}
header>div:first-child{
    padding-top: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

nav a{
    color: aliceblue;
    font: bolder;
    text-decoration: none;
}

header>div img{
    width: 100px;
    height: 100px;

}